paper/XOP_Paper.pdf
paper/gtpaper/AVT_tree.pdf
paper/gtpaper/xopConf.pdf
paper/oldPaperBellack_042017/XOP_Paper.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.el
.#*
.~*
*.out
.DS_Store
.cabal-sandbox
.stack-work
